<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../dist/main.js"></script>
</head>
<body>
<alert-message is="default">
    <label slot="message">Default</label>
</alert-message>
<alert-message is="primary">
    <label  slot="message">Primary</label>
</alert-message>
<alert-message is="secondary">
    <label  slot="message">Secondary</label>
</alert-message>
<alert-message is="warning">
    <label  slot="message">Warning</label>
</alert-message>
<alert-message is="success">
    <label  slot="message">Success</label>
</alert-message>
<alert-message is="info">
    <label  slot="message">Info</label>
</alert-message>
<alert-message is="danger">
    <label  slot="message">Danger</label>
</alert-message>
</body>
</html>