<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree</title>
    <script src="../dist/main.js"></script>
</head>
<body>
<hierarchical-tree>
    <tree-node value="parent">
        <tree-node value="child 1">
            <tree-node value="grand child 1.1">
                <tree-node value="great grand child 1.1.1"></tree-node>
                <tree-node value="great grand child 1.1.2"></tree-node>
            </tree-node>
            <tree-node value="grand child 1.2"></tree-node>
            <tree-node value="grand child 1.3"></tree-node>
        </tree-node>
        <tree-node value="child 2">
            <tree-node value="grand child 2.1"></tree-node>
        </tree-node>
        <tree-node value="child 3">
            <tree-node value="grand child 3.1"></tree-node>
            <tree-node value="grand child 3.2"></tree-node>
            <tree-node value="grand child 3.3">
                <tree-node value="great grand child 3.3.1"></tree-node>
                <tree-node value="great grand child 3.3.2"></tree-node>
                <tree-node value="great grand child 3.3.3"></tree-node>
            </tree-node>
        </tree-node>
    </tree-node>
</hierarchical-tree>
</body>
</html>